# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variable files
.env
.env.*

# Qt Creator
.qtcreator/

# PyCharm
*.pyproject.user

# IDE & Editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and temporary files
*.log
*.tmp

# Qt QML cache (optional)
qmlcachefolder/

# Live2D exports (if any)
*.model3.json

